<div class="top">
	<div class="titre">
		<h1>Club d'Astronomie de Mars</h1>
		<h3>Un club d'astronomie en Haut-Vivarais</h3>
	</div>
	<div class="menu-nav">
		<ul>		
			<li><a href="#">Club</a></li>
			<li><a href="#">Evènements</a></li>
			<li><a href="#">Observations</a></li>
			<li><a href="#">Equipements</a>
			<li><a href="#">Agenda</a></li>
		</ul>
	</div>
</div>	
<div class="container">

</div>
