<div class="top">
	<div class="titre">
		<h1>Club d'Astronomie de Mars</h1>
	</div>
	<div class="menu-nav">
		<ul>		
			<li><a href="#">Club</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'Presentation', home_presentation_path %></li>
					<li>test2</li>
				</ul>
			</li>
			<li><a href="#">Evènements</a></li>
			<li><a href="#">Observations</a></li>
			<li><a href="#">Equipements</a></li>
			<li><a href="#">Agenda</a></li>
		</ul>
	</div>
</div>	
<div class="container">
</div>	
</div>
