<div class="titre">
	<h1>Club d'Astronomie de Mars</h1>
	<h3>Un club d'astronomie en Haut-Vivarais</h3>
</div>
<div class="menu-nav">
	<a href="#">Club</a>
	<a href="#">Evènements</a>
	<a href="#">Observations</a>
	<a href="#">Equipements</a>
	<a href="#">Agenda</a>
</div>
<div class="container">
	<div class="">
	</div>
</div>
</div>
