// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
p {
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
}
img {
	max-width: 100%; 
}
.top {
	display: block;
	float: left;
	width: 100%;
	height: 20%;
}
.titre {
	display: flex;
	float: left;
	width: 50%;
	flex-direction: column;
}
.menu-nav {
	display: flex;
    width: 50%;
    height: 100%;
	flex-direction: row-reverse;
    align-items: center;
}
.menu-nav ul {
	display: block;
	width: 70%;
    list-style: none;
    padding: 0;
}

.menu-nav ul li {
	display: inline;
    margin: 1%;
    padding: 2%;
    background-color: #C7D0CC;
    border-radius: 2px;
}
.menu-nav a {
	text-decoration: none;
	color: black;
}

.container {
	display: block;
	float: left;
	width: 100%;
	min-height: 65%;
	overflow: hidden;
	background: url(asset_path("flash_iridium.jpeg"));
	background-size: cover;
    background-position: 0 30%;
}

.info-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 15%;
	background-color: #9E9E9E;
	}

.info-footer-adresse, .info-footer-coordonnees{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48%;
}

.info-footer {
	padding: 1%;
}

.info-footer p {
	line-height: 1.5;
}
