// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #191919;
	color: white;
	background-repeat: no-repeat;
}
p {
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
}
img {
	max-width: 100%; 
}
.top {
	display: block;
	float: left;
	width: 100%;
	height: 20%;
}
.titre {
	display: flex;
    float: left;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-left: 1%;
}
.titre h1 {
	text-transform: uppercase;
}
.menu-nav {
	display: flex;
    width: 50%;
    height: 100%;
	flex-direction: row-reverse;
    align-items: center;
}
.menu-nav ul {
	display: block;
	float: right;
    list-style: none;
    padding: 0;
    width: 55%;
  }

.menu-nav ul li {
	display: block;
    float: left;
    margin: 0;
    padding: 2%;
}
.menu-nav a {
	text-decoration: none;
	color: white;
}

.container {
	display: block;
	float: left;
	width: 98%;
	min-height: 65%;
 	border: #323232 solid 6px;
	background: url(asset_path("fond_sagit_vinc.png"));
	background-size: cover;
 	background-position: 0 30%;
    margin: 1%;
}

.info-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 10%;
}

.info-footer-adresse, .info-footer-coordonnees{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48%;
}

.info-footer {
	padding: 1%;
}

.info-footer p {
	line-height: 1.5;
}
