<!-- <div class="info-footer">
	<div class="info-footer-adresse">
		<p>Club d'Astronomie de Mars</p>
		<p>Saint Romain Le Désert</p>
		<p>07320 MARS</p>
	</div>
	<div class="info-footer-coordonnees">
		<p>Tel : 04 75 56 34 96</p>
		<p>mail : clubastromars@yahoo.fr</p>
		<p>Lat : 45°00'25" N Long : 04°20'07" Alt : 1080 m</p>
	</div>	
</div> -->